*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
scripts/common/__pycache__
scripts/.DS_Store
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/data
!.test/data/*.fa
!.test/queries
!.test/queries/*.fa
!test.sh
!pfpf
.snakemake*
test_results
!setup.py
!.circleci/config.yaml
!MANIFEST.in
